USE [master]
GO
/****** Object:  Database [ThucTap-Test]    Script Date: 6/5/2018 11:19:41 AM ******/
CREATE DATABASE [ThucTap-Test]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ThucTap-Test', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\ThucTap-Test.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ThucTap-Test_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\ThucTap-Test_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ThucTap-Test].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ThucTap-Test]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 6/5/2018 11:19:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[id] [int] NOT NULL,
	[first] [nvarchar](50) NULL,
	[last] [nvarchar](50) NULL,
	[age] [int] NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[Employees] ([id], [first], [last], [age]) VALUES (1, N'Bùi Quang', N'Thi', 22)
USE [master]
GO
